.IlusPeta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 161.5px;
    width: 519px;
    height: 526.5px;
}

#GambarLantai {
    position :relative;
    width : 960px;
    height : 345px;
    display : block;
    margin-left: auto;
    margin-right: auto;
    top : 4.74%;
}

#InfoSatu {
    position :absolute;
    width : 465px;
    height : 165px;
    display : block;
    left : 25%;
    background: #FDCE3F;
    top : 50.64%;
}

#InfoDua {
    position :absolute;
    width : 465px;
    height : 165px;
    right : 25%;
    background: #FDCE3F;
    top : 50.64%;
}

#KontenGambar {
    position :relative;
    width : 640px;
    height : 360px;
    display : block;
    left: 33.32%;
    top : 4.74%;
}

#KeteranganGambar {
    position : absolute;
    width : 960px;
    height : 180px;
    background : #fdce3f;
    top : 49.64%;
    left: 25%;
}

.centerImage{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.NamaRuang{  
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 31.5px;
    line-height: 39px;
    height: 39;
    width : 507px;
    color: #000000;
    margin-top: 30px;
    margin-bottom:auto;
    margin-left:30px;
}

.TextKetRuang {
    height: 84px;
    margin-left:30px;
    margin-bottom:27px;
    margin-top: auto;
}

.GambarRuang {
    position :relative;
    width : 640px;
    height : 360px;
}

.FontTextRuang{
    font-family: Helvetica Neue;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    width: 507px;
    
}