.IlusInformasi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 519px;
    height: 526.5px;
}

#ZonaVideo {
    position: absolute;
    width: 960px;
    height: 540px;
    display: block;
    margin-left: 126px ;
    margin-right: auto ;
    margin-top: 38.5px;
    
}

#ZonaArtikel {
    position: absolulte;
    width: 666px;
    height: 295.5px;
    display: block;
    margin-right: 124.5px ;
    margin-top: 38.5px;
    margin-left: auto;
    
}

.IlusAgenda {
    width: 519px;
    height: 363.39px;
    display: block;
    position: absolute;
    left : 18.12%;
    top : 10.46%;
}

.IlusPrestasi {
    width: 519px;
    height: 394.38px;
    display: block;
    position: absolute;
    left : 18.12%;
    top : 10.46%;
}

#pengumumankedua {
    position: absolute;
    width: 961.5px;
    height: 136.8px;
    left: 6.48%;
    bottom: 16%;
    background: #FDCE3F;
}

#KontenGambar {
    position :relative;
    width : 640px;
    height : 360px;
    display : block;
    left: 33.32%;
    top : 4.74%;
}

#KeteranganGambar {
    position : absolute;
    width : 960px;
    height : 180px;
    top : 49.64%;
    left: 25%;
}

.GambarAgenda {
    position :relative;
    width : 381.4px;
    height : 540px;
}


.KeteranganAgenda {
    position :relative;
    left : 40.93%;
    top: 30px;
}



.BatasAtas{
    margin-top : 20px;
}

.TextHitamJudul {
    font-family: Helvetica Neue;
    color: #4A4A4a;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin: 0px;
  }
.SpacerAgenda{
    margin-top: 30px;
}

.FontJudul{
    position:relative;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 31.5px;
    line-height: 39px;
    height: 79.5px;
    width : 507px;
    color: #000000;
    margin-top: 0px;
}

.FontTextAgenda{
    font-family: Helvetica Neue;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    width: 507px;
    
}

.WaktuTempat{
    font-weight: 500;
    height: 79.5px;
}

.KetAgenda{
    font-weight: normal;
    height: 198px; 
}

.ZonaKonten{
    width: 960px;
    height: 540px;
    background : #fdce3f;
    position: absolute;
    top : 7.74%;
    left : 25%;
}

.centerImage{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.JudulArtikel{  
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 31.5px;
    line-height: 39px;
    height: 39;
    width : 507px;
    color: #000000;
    margin-top: 30px;
    margin-bottom:auto;
    margin-left:30px;
}

.TextKetArtikel {
    height: 84px;
    margin-left:30px;
    margin-bottom:27px;
    margin-top: auto;
}

.GambarPrestasi {
    position :relative;
    width : 640px;
    height : 360px;
}